* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

body{
    font-family: 'Signika Negative', sans-serif;
}

h1{
    padding: 20px;
    font-size: 40px;
}

header{
    padding: 10px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.pic{
    height: 500px;
}
.flex-item{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    align-items: flex-start;
}

.head-content{
    align-items: center;
}

.flex-item-single{
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;  
}

a{
    text-decoration: none;
    color: white;
}

.list{
    list-style:none;
    display: inline;
    text-decoration: none;
}

li{
    padding: 12px;
    list-style:none;
    text-decoration: none;
}


.menu-column{
    display: flex;
    width: 60%;
    justify-content: center;
}

.logo-column{
    width: 20%;
}

.button-column{
    width: 20%;
}

.flex-multi{
    display: flex;
    flex-grow: 4;
}

.head-content{
    padding: 10px;
    text-align: center;
    color: #fff;
}

.single{
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: white;
}

.small{
    flex-direction: column;
    flex-grow: 1;
}
.large{
    flex-grow: 2;
}

.smaller{
    width: 25%;
}

.sx2{
    color: #fff;
    flex-grow: 4;
}
.dx2{
   color: #fff;
    flex-grow: 1;
    line-height: 50px;
}

footer{
    padding: 10px;
    border-top: 1px solid purple; 
}

.footer-content{
    padding: 10px;
    width: 1150px;
    text-align: center;
    color: #fff;
}

.button{
color: rgb(1, 0, 0);
background-color: #f0f4f7;
padding: 10px;
border-radius: 10px;
text-align: center;
}

.star{
    background-image: url(img/stars.svg);
    font-size: 40px;
}

.btn{
    min-width: 80px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}

.button-download{
    color: #fff;
    background-color: #0c0c0c;
    padding: 20px;
    margin-top: 50px;
 }
.button-browser{
        color: rgb(2, 2, 2);
        background-color: #f4f8fb;
        padding: 20px;
}

.button-registration{
            color: white;
            background-color: rgb(211, 110, 211);
            padding: 10px;
            
 }

.fa-brands{
    margin-right: 20px;
}

.bg-gray{
    background-color: lightgrey;
}
.flag-container{
    height: 5px;
}
.flag{
    height: 10px;
    margin-right: 10px;
}
    

.bg-black{
    background-color: black;
}
